<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

    </script>
</head>
<body>
<br>
<canvas id="myCanvas" width="600px" height="300px" style="border: 2px solid black"></canvas>
<br>
<br>
<button onclick="startGame()">Start Game</button>
<button onclick="pauseGame()">Pause Game</button>
<button onclick="resumeGame()">Resume Game</button>
<button onclick="answer()">Answer</button>

<br>
<br>

<h3>Players:</h3>
<ul id="playersList">

</ul>

<div id="pausedText" hidden>
    <h1 style="color: red">Paused ... </h1>
</div>


<script>
    const ws = new SockJS("/message");
    const stompClient = Stomp.over(ws);
    const mainUrl = "http://localhost:8080/"
    let question = "";
    onRender();
    const canvas = document.getElementById("myCanvas");
    const ctx = canvas.getContext('2d');

    stompClient.connect({}, function (frame) {
        stompClient.subscribe("/game/4/enter", function (message) {
            console.log("Add game: ", message);
            loadPlayers();
        });

        stompClient.subscribe("/game/4/start", function (message) {
            fillCanvasText("Start ...", ctx);
            loadPlayers();
        });

        stompClient.subscribe("/game/4/end", function (message) {
            fillCanvasText('Finish ...', ctx);
        });

        stompClient.subscribe("/game/4/theme/start", function (message) {
            fillCanvasText(message.body, ctx);
        });

        stompClient.subscribe("/game/4/theme/end", function (message) {
            // console.log("End Theme: ", message.body);
        });

        stompClient.subscribe("/game/4/question", function (message) {
            question += " " + message.body;
            fillCanvasText(question, ctx);
        });

        stompClient.subscribe("/game/4/question/start", function (message) {
            console.log("Question Start with cost:", message.body);
            fillCanvasText(message.body, ctx);
            question = "";
        });

        stompClient.subscribe("/game/4/question/end", function (message) {
            // console.log("Question: ", question);
        });

        stompClient.subscribe("/user/error", function (message) {
            console.log("Error: ", message);
        });

        stompClient.subscribe("/game/4/pause", function () {
            $("#pausedText").show();
        });

        stompClient.subscribe("/game/4/resume", function () {
            $("#pausedText").hide();
        });

        stompClient.subscribe("/game/4/answer", function () {
            checkAnswer(true);
        });

        stompClient.subscribe("/game/4/answer/check", function () {
            loadPlayers();
        });

    }, function (error) {
        console.log("Error:", error);
    });

    function sendMessage() {
        stompClient.send("/app/questions", {}, "some message")
    }

    function startGame() {
        $.post(mainUrl + "game/4/start", {}, function (data, status) {
            if (status === 200) {
                console.log("Game is started ... ");
            }
            console.log(data);
        })
    }

    function pauseGame() {
        $.post(mainUrl + "game/4/pause", {}, function (data, status) {
            console.log(data);
        })
    }

    function resumeGame() {
        $.post(mainUrl + "game/4/resume", {}, function (data, status) {
            console.log(data);
        })
    }

    function answer() {
        $.post(mainUrl + "game/4/answer", {}, function (data, status) {
            console.log(data);
        })
    }

    function checkAnswer(isCorrect) {
        $.ajax(mainUrl + "game/4/answer/check", {
            data: JSON.stringify({correct: isCorrect}),
            contentType: 'application/json',
            type: 'POST',
        }, function (data, status) {
            console.log(data);
        })
    }

    function fillCanvasText(text, ctx) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.font = '50px Helvetica';
        ctx.fillStyle = 'purple';
        ctx.textAlign = 'center';
        ctx.fillText(text, canvas.width / 2, canvas.height / 2);
    }

    function loadPlayers() {
        $.get(mainUrl + "game/4/points", function (data, status) {
            console.log(data);
            let players = data;
            let ul = document.getElementById("playersList")
            for (let p of players) {
                let item = document.getElementById(p.userId);
                if (!item) {
                    item = document.createElement("li");
                    item.setAttribute('id', p.userId);
                }
                item.innerHTML = `${p.userId} - ${p.point} - ${p.role}`;
                ul.appendChild(item);
            }
        })
    }

    function onRender() {
        loadPlayers();
    }
</script>
</body>
</html>
